*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 70%;
    font-family: 'poppins';
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 13, 13);
    height: 70px;
}
.nav{
    text-decoration:none ;
    color: white;
    font-size: 1.7rem;
    padding: 10px;
}
.nav:hover{
    color: #29d9d5;
}
#ht{
    color: white;
    font-size: 2.1em;
    margin-right: 150px;
}
#cam{
    font-size: 2.8em;
    color: #29d9d5;
    margin-right: 5px;
}
#nb{
    margin-left: 125px;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* justify-content: center; */
    width: 1000px;
    /* border: 2px solid black; */
}
#hd{
    width: 916px;
    margin: 10px;
    margin-left: 30px;
    /* border: 2px solid black; */
    padding: 10px;
    background-color: rgb(251, 232, 235);
    border-radius: 10px;
}
#im{
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mi{
    margin: 10px;
    height: 200px;
    border-radius: 10px;
}
#hdt{
    font-size: 1.5em;
    color: rgb(54, 54, 119);
}
.book{
    border-radius:50px;
    padding: 5px;
    border-color: #29d9d5;
    border: 2px solid #29d9d5;
    color: #29d9d5;

}
#bt{
    height: 154px;
    margin: auto;
    padding: 20px;
    background-image: url(./images/samsung-memory-k5eFm1f2esQ-unsplash.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    
    /* border: 2px solid black; */
}
#st{
    text-align: center;
    /* border: 2px solid black; */
    color: #29d9d5;
    font-size: 1.5em;
}
#sth{
    font-size: 3em;
    text-align: center;
}
#stp{
    /* border: 2px solid black; */
    width: 419px;
    margin: auto;
    text-align: center;
}
#sts{
 
    display: block;
    margin: auto;
    margin-top: 14px;
    width: fit-content;
    text-decoration: none;
}
